@model Digital_Wallet.Models.Account

@{
    ViewData["Title"] = "Login";
}
<div class="login-container">
    <div class="login-box">
        <h1>Login</h1>
        <form asp-controller="Access" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-small">
                    <input type="checkbox" asp-for="KeepLoggedIn" />
                    Keep me Logged In.
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            @if (ViewData["ValidateMessage"] != null)
            {
                <br />
                <br />
                <label>
                    @ViewData["ValidateMessage"]
                </label>
            }
        </form>

        <div class="text-center mt-3">
            <p class="text-small">If not registered, you can <a href="@Url.Action("Register", "User")">register now</a>.</p>
        </div>
    </div>
</div>
